header{
    background: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    font-family: "Source Sans Pro";
    background-image: url("../img/doodles.png");
    font-size: 1em;
    margin: 0;
    color: #212121;
    font-weight: 300;
    /* min-width: 500px; - potrzebne? */
}
#bodymainpage{
    background: #fff;
}

section{
    max-width: 976px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    background: #fff;
    padding: 12px;
}

embed{
    padding-top: 0.5em;
}

h1{
    color: #424242;
    font-size: 2em;
    font-weight: 900;
    margin: 15px 0;
}

h2{
    color: #424242;
    font-size: 1.75em;
    font-weight: 700;
    margin: 10px 0;
}

h3{
    color: #313131;
    font-size: 1.5em;
    margin: 7.5px 0 5px 5px;
    font-weight: 600;
}

h4{
    color: #313131;
    font-size: 1.25em;
    font-weight: 400;
    margin: 5px 0 5px 1em;
    transition: all .5s;
    display: inline-block;
}

h4::before{
    content: "⇒";
    color:#0091EA;
    margin-right: 10px;
}

h4:hover{
    color: #0091EA;
    transition-duration: .5s;
    transition-timing-function:linear;
}
footer{
    background: #01579B;
    color: #fafafa;
}
#footer{
    text-align: center;
    padding: 1em;
}
#footer > a{
    color: #fafafa;
}
aside{
    float:right;
    font-family: Frino;
    display: table;
    line-height: 92px;
}
aside a{
    color: #fafafa;
    transition: all .5s;
}
#maill a:hover, #fb a:hover{
    color:#424242;
    transition-duration: .5s;
    transition-timing-function:linear;
}
#maill, #fb{
    height: 40px;
    width: 40px;
    font-size: 2em;
    color: #fafafa;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color: #37474F;
}
p{
    margin: 0;
    padding: 10px 0;
    font-size: 1.12em;
}
.weight400{
    font-weight: 400;
}
#italicquote{
    font-style: italic;
    font-size: 0.75em;
    text-align: right;
}
blockquote {
    border-left: 10px solid #0091EA;
    margin: 0.5em 0;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
}
blockquote:before {
    color: #01579B;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}
blockquote::after{
    content: close-quote;
    display: none;
}

.listp{
    list-style-type: none;
    margin: 0.67em 0;
    padding: 0.17em;
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
}
.listp > li::before{
    color:#0091EA;
    content: "❑";
    margin-right: 10px;
}
.listp > li{
    float: left;
    margin-right: 1.7em;
}

.przedmiotyp1{
    list-style-type: none;
    margin: 0.67em 0;
    padding: 0.17em;
    font-size: 1.67em;
    display: inline-block;
}
.przedmiotyp1 > li::before{
    color:#0091EA;
    content: "❑";
    margin-right: 10px;
}
.przedmiotyp1 > li{
    float: left;
    margin-right: 1.7em;
}

.przedmiotyp1 > li > a:hover{
    color: #01579B;
    transition-duration: 0.25s;
    transition-timing-function:linear; 
}

.mainpage{
    margin: 0 20px;
    list-style-type: none;
    padding: 0.17em;
}
.mainpage > li::before{
    color:#0091EA;
    content: "☑";
    margin-right: 10px;
}
.mainpage > li{
    color: #313131;
    font-size: 1.25em;
    margin: 7.5px 0 5px 5px;
    font-weight: 400;
}
.bluespanmainsection1{
    color: #01579B;
}
.bluespanmainsection2{
    color:#01579B;
    font-size: 1.5em;
}
.imgmain{
    margin: 5px 0 5px 0;
    max-width: 1920px;
    width:100%;
}
#mail{
    text-decoration: underline;
}

/* Wyłączone menu
nav -> szkoła pod(2)/gim(3)/średnia(4) -> klasa -> przedmiot */
ol > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(1), 
ol > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2),
ol > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(3),
ol > li:nth-child(2) > ul > li:nth-child(2),
ol > li:nth-child(2) > ul > li:nth-child(3),
ol > li:nth-child(2) > ul > li:nth-child(4),
ol > li:nth-child(2) > ul > li:nth-child(5),
ol > li:nth-child(2) > ul > li:nth-child(6),
ol > li:nth-child(2) > ul > li:nth-child(8),
ol > li:nth-child(3) > ul > li:nth-child(1),
ol > li:nth-child(3) > ul > li:nth-child(2),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(1),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(2),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(3),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(4),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(5),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(6),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(7),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(8),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(9),
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(10),
ol > li:nth-child(4){
    background: #313131;
}
ol > li:nth-child(2) > ul > li:nth-child(2) > ul,
ol > li:nth-child(2) > ul > li:nth-child(3) > ul,
ol > li:nth-child(2) > ul > li:nth-child(4) > ul,
ol > li:nth-child(2) > ul > li:nth-child(5) > ul,
ol > li:nth-child(2) > ul > li:nth-child(6) > ul,
ol > li:nth-child(2) > ul > li:nth-child(8) > ul,
ol > li:nth-child(3) > ul > li:nth-child(1) > ul,
ol > li:nth-child(3) > ul > li:nth-child(2) > ul{
    display: none;
}
ol > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(1)>a,
ol > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(2)>a,
ol > li:nth-child(2) > ul > li:nth-child(1) > ul > li:nth-child(3)>a,
ol > li:nth-child(2) > ul > li:nth-child(2) > a,
ol > li:nth-child(2) > ul > li:nth-child(3) > a,
ol > li:nth-child(2) > ul > li:nth-child(4) > a,
ol > li:nth-child(2) > ul > li:nth-child(5) > a,
ol > li:nth-child(2) > ul > li:nth-child(6) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(1) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(2) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(3) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(4) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(5) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(6) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(7) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(8) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(9) > a,
ol > li:nth-child(2) > ul > li:nth-child(7) > ul > li:nth-child(10) > a,
ol > li:nth-child(2) > ul > li:nth-child(8) > a,
ol > li:nth-child(3) > ul > li:nth-child(1) > a,
ol > li:nth-child(3) > ul > li:nth-child(2) > a,
ol > li:nth-child(4),
.listap1 > li:nth-child(2) > a,
.listap1 > li:nth-child(3) > a,
.listap2 > li:nth-child(1) > a,
.listap2 > li:nth-child(2) > a,
.listap2 > li:nth-child(3) > a,
.listap3 > li:nth-child(1) > a,
.listap3 > li:nth-child(2) > a,
.przedmiotyp1 > li:nth-child(1) > a,
.przedmiotyp1 > li:nth-child(2) > a,
.przedmiotyp1 > li:nth-child(3) > a{
    pointer-events: none;
}


/* Menu */
.active{
    background-color: #03A9F4;
}
nav{
    font-family: "Oxygen"; 
    width: 100%;
    background-color: #01579B;
    text-align: center;
    z-index: 98;
    position: sticky;
    height: 50px;
    left: 0;
    top: 0;
    display: inline-table;
}
ol{
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 1.25em;
    line-height: 200%;
    display: inline-block;
}
ol a{
    color: #fafafa;
    text-decoration: none;
    display: block;
}
.menu{
    float: left;
    width: 200px;
    height: 40px;
    padding: 5px 0;
    position: relative;
    transition: all .5s;
}
.menu:hover{
    background: #0091EA;
    transition-duration: 0.5s;
    transition-timing-function:linear;
}
.menu:hover > a{
    color: #CFD8DC;
    transition-duration: 0.5s;
    transition-timing-function:linear;    
}
.menu > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 35px;
    font-size: 1em;
    display: none;
    position: absolute;
    width: 200px;
    top: 50;

}
.menu:hover > ul{
    display: block;
    animation: opacipy 0.25s linear;
}
.submenu{
    background: #01579A;
    position: relative;
    z-index: 99;
    transition: all .5s;
}
.submenu:hover{
    background: #0091EA;
    transition-duration: 0.5s;
    transition-timing-function:linear; 
}
.submenu:hover > a{
    color: #CFD8DC;
    transition-duration: 0.5s;
    transition-timing-function:linear; 
}
ol > li > ul > li > ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    display: none;
    position: absolute;
    right: -200px;
    width: 200px;
    top: 0;
}
.submenu:hover > ul{
    display: inline;
    animation: opacipy 0.25s linear;
}
.submenu2{
    background: #01579A;
    z-index: 100;
    height: 35px;
    padding-bottom: 5px;
    transition: all .5s;
}
.submenu2:hover{
    background: #0091EA;
    transition-duration: 0.5s;
    transition-timing-function:linear; 
}
.submenu2:hover > a{
    color: #CFD8DC;
    transition-duration: 0.5s;
    transition-timing-function:linear; 
}

.edb{
    padding: 5px 0 10px 0;
    line-height: normal;
}
@keyframes opacipy {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.up1{
    top: -40px;}
.up2{
    top: -80px;}
.up5{
    top: -120px;}
.up3{
    top: -160px;}
.up6{
    top: -200px;}
.up4{
    top: -250px;}

/* menu wyboru książek */

#container{
    border: 1.5px solid #323232;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: 25px auto;
    display: table;
}

#nag{
    top: -15px;
    margin-left: 50px;
    z-index: 50;
    position: absolute;
    width: 170px;
    font-size: 1.25em;
    text-align: center;
    background: #fff;
    border-radius: 15px;
    padding: 1px;
}

.ksiazka{
    float: left;
    text-align: center;
    margin: 20px;
    padding: 5px;
}

.ksiazka img{
    border-radius: 10px;
    filter: grayscale(66%)
}

.ksiazka>.podpis{
    transition: all .5s;
}

.podpis{
    width: 250px;
    margin-top: 1px;
    padding: 10px;
    border-radius: 5px;
    background: #fff;
}

.ksiazka:hover img{
    filter: grayscale(0%);
    transition-duration: 0.5s;
    transition-timing-function:linear; 
}

.ksiazka:hover>.podpis{
    color: #fff;
    transition-duration: 0.5s;
    transition-timing-function:linear; 
}

.disable{
    filter: grayscale(100%);
    pointer-events: none;
}

.ksiazka:hover>.historia{
    background: #6D4C41;
}
