*{
    font-family: Arial, Helvetica, sans-serif

}
header
{   display: flex;
    justify-content: space-between;
    align-items: baseline;}
body {
    max-width: 1024 px;
    margin: 0 auto;
.artykul{
    display: flex: 
    align-items:  start;
}

body > header,
body > section, {
    border-bottom: 1px solid grey
}

.artykul img{
    width: 49%
    border: 2px solid #696969
}

.artykul text{
    margin-right: 25px;
    text-align: justify
    text-indent: 20 px;
}

.projects{
    justify-content: space-between;
    display: flex;
    list-style-type: none;
}

.projects li{
    width: 30%;

}

.projects img{
    width: 100%;

}
footer{
    display: flex;
    justify-content: space-between;
    
address{
    display: flex;
    flex-direction: column;
}

.social-media li:not(:last-child) {
margin-right: 20 px
}
