body{
    font-family: "Source Sans Pro";
    background-color: #FAFAFA;
}

nav{
    font-family: "Oxygen";
}

.menulvl0
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menulvl0 > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
.menulvl0 > li:hover { background: #CCCCCC; }

.menulvl0 li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.menulvl0 a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.menulvl0 a:hover { color: #000000; }

.menulvl1
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.menulvl1 > li
{
    position: relative;
    height: 30px;
    background: #999999;
}
.menulvl1 > li:hover { background: #CCCCCC; }

.menulvl2
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.menulvl2 > li
{
    height: 30px;
    background: #999999;
}
.menulvl2 > li:hover { background: #CCCCCC; }